@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #ffffff;
	}
				}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
			h4, h4 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
			font-size: 16px; 					    		}
	
	
	
			body,
		p,
        body.qode-overridden-elementors-fonts .elementor-widget-heading p.elementor-heading-title {
			font-size: 15px; 			line-height: 24px; 		    		}
	
			.footer_bottom_holder{
			padding-right:10px;
		}
			.footer_bottom_holder{
			padding-left:10px;
		}
	
	
	
	
	
	
}
@media only screen and (max-width: 600px) {
	
			h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 40px; 			line-height: 57px; 		    		}
	
	
	
	
	
			body,
		p,
        body.qode-overridden-elementors-fonts .elementor-widget-heading h5.elementor-heading-title {
			font-size: 15px; 			line-height: 24px; 		    		}
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
				.footer_bottom {
			line-height: 23px;
		}
	
			.footer_top.footer_top_full {
			padding-right:10px;
		}
			.footer_top.footer_top_full {
			padding-left:10px;
		}
	}
